/* Fonts
============== */
@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans-Regular.woff2') format('woff2'),
       url('/assets/fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans-SemiBold.woff2') format('woff2'),
       url('/assets/fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans-Bold.woff2') format('woff2'),
       url('/assets/fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

*:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: var(--purple-dark);
  outline-offset: 2px;
}

*:active:focus {
  outline: none;
}


body {
  font-family: 'Open Sans', sans-serif;
}

:root {
  --white: #fff;
  --black: #000;
  --black-light: #333333;
  --black-xlight: #666666;
  --gray: #CACACA;
  --gray-dark: #999999;
  --gray-light: #ECECEC;
  --purple-fst: #9D5CD0;
  --purple-snd: #885BC7; 
  --purple-dark: #7943A4;
  --purple-light: #C283F3; 
  --purple-xlight: #D1A9F0; 
}

/* Container
============== */
.container {
  max-width: 1633px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Burger */
.burger {
  display: none;
}

/* Outline to btn */
.outline {
  display: inline-block;
  padding: 3px;
  border: 2px solid transparent;
  border-radius: 100px;
}

/* Header
============== */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__top {
  background-color: black;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__inner--top {
  height: 100px;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 62px;
}

.nav__link {
  font-weight: 600;
}

.nav__link,
.header__login-link {
  color: var(--white);
  font-size: 18px;
  transition: color .1s ease-out, fill .1s ease-out;
}

.header__login-link {
  display: flex;
  align-items: center;
  margin-left: 100px;
  font-weight: 400;
  fill: var(--white);
}

.nav__link:hover {
  color: var(--purple-light);
}

.header__login-link:hover {
  color: var(--purple-light);
  fill: var(--purple-light);
}

.nav__link:active,
.header__login-link:active {
  color: var(--purple-dark);
  fill: var(--purple-dark);
}

.header__login-icon {
  width: 13px;
  height: 13px;
  margin-right: 9px;
}

.header__bottom {
  background-color: rgba(0, 0, 0, .4);
}

.header__inner--bottom {
  height: 70px;
}

.header__dropdown-list {
  display: flex;
}

.header__dropdown-item {
  position: relative;
}

.header__dropdown-btn {
  cursor: pointer;
  position: relative;
  margin-right: 101px;
  padding-right: 12px;
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  transition: color .1s ease-out
}

.header__dropdown-btn--last {
  margin-right: 0;
}

.header__dropdown-btn--active {
  color: var(--purple-dark);
  outline: none;
}

.header__dropdown-btn:hover.header__dropdown-btn--active {
  color: var(--purple-dark);
} 

.header__dropdown-btn:hover {
  color: var(--purple-fst);
}

.header__dropdown-btn:active {
  color: var(--purple-dark)
}

.header__dropdown-btn::after {
  position: absolute;
  top: 6px;
  right: 0px;
  content: "";
  width: 7px;
  height: 7px;
  border-top: 1px solid var(--white);
  border-right: 1px solid var(--white);
  transform: rotate(135deg);
  transition: border-color .1s ease-out, transform .2s ease-out
}

.header__dropdown-btn:hover::after {
  border-color: var(--purple-fst);
}

.header__dropdown-btn:active::after {
  border-color: var(--purple-dark);
}

.header__dropdown-btn.header__dropdown-btn--active::after {
  top: 10px;
  transform: rotate(315deg);
  border-color: var(--purple-dark);
}

.dropdown__menu {
  display: none;
  position: absolute;
  z-index: 1;
  top: 45px;
  left: 0;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
}

/* SimpleBar---- */
.simplebar-track.simplebar-vertical {
  background-color: var(--black);
  width: 2px;
  right: 19px;
  height: 220px;
  top: 50%;
  transform: translateY(-50%);
}

.simplebar-scrollbar::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border-radius: 0;
  opacity: 1;
}

.simplebar-scrollbar.simplebar-visible::before {
  background-color: var(--purple-fst);
  opacity: 1;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
}
/* ----SimpleBar */

.dropdown__menu--visible {
  display: block;
}

.dropdown__menu-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding-left: 14px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid transparent;
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: border-color .1s ease-out;
}

.dropdown__menu-item:after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  transition: opacity .1s ease-out;
} 

.dropdown__menu-item:active::after {
  opacity: 1;
}

.dropdown__menu-item:hover {
  border-color: var(--purple-dark);
}

.dropdown__menu-item:not(:last-child) {
  margin-bottom: 20px;
}

.header__search {
  display: flex;
  margin-top: 6px;
  margin-right: 3px;
}

.header__search:hover .header__search-btn{
  fill: var(--purple-light);
}

.header__search:hover .header__search-input {
  border-color: var(--purple-light);
}

.header__search-btn,
.header__search-icon {
  width: 22px;
  height: 22px;
}

.header__search-btn{
  margin-right: 10px;
  fill: var(--white);
  transition: fill .1s ease-out;
}

.header__search-input {
  padding-left: 0;
  caret-color: var(--purple-light);
  color: var(--white);
  padding-bottom: 2px;
  border: none;
  background: none;
  border-bottom: 1px solid var(--white);
  width: 218px;
  transition: border-color .1s ease-out
}

.header__search-input--nonfocus:focus {
  outline: none;
}

.header__search-input::placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}

/* Buttons
============ */
.btn {
  padding: 17px 34px;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  border: 2px solid var(--purple-fst);
  border-radius: 100px;
  transition: border-color .1s ease-out, background-color .1s ease-out;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background-color: var(--purple-fst);
}

.btn:active {
  background-color: var(--purple-dark);
}

.btn--full {
  padding: 21.5px 33.5px;
  background-color: var(--purple-fst);
  border-width  : 3px;
  
}

.btn--full:hover {
  border-color: var(--purple-xlight);
}

/* Intro
=========== */
.swiper-container {
  position: relative;
  overflow: hidden;
}

.swiper-wrapper {
  height: 800px;
  animation: scaleIntroBg 20s ease-in-out infinite;
}

@keyframes scaleIntroBg {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  0% {
    transform: scale(1);
  }
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro-img-1 {
  background-image: url('/assets/img/intro/intro-bg-1.jpg');
}

.intro-img-2 {
  background-image: url('/assets/img/intro/intro-bg-2.jpg');
}

.intro-img-3 {
  background-image: url('/assets/img/intro/intro-bg-3.jpg');
}

.container--absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.intro__inner {
  margin-left: -5px;
  padding-top: 241px;
  padding-bottom: 118px;
  max-width: 597px;
  color: var(--white);
  font-weight: 700;
}

.intro__title {
  margin-bottom: 22px;
  font-size: 72px;
  line-height: 1.15;
}

.intro__subtitle {
  margin-left: 5px;
  margin-bottom: 86px;
  font-size: 18px;
  line-height: 1.7;
}

/* Section
============= */
.section {
  padding-top: 85px;
  padding-bottom: 69px;
  background-color: var(--white);
}

.section__title {
  margin-left: -3px;
  margin-bottom: 22px;
  font-size: 48px;
  font-weight: 400;
  color: var(--black-light);
}

.section__text {
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
  max-width: 1080px;
}

@media (max-width: 1470px) {
  .container {
    max-width: 1230px;
  }

  /* Header */

  /* Navbar--- */
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }

   /*--- Navbar */

  .header__login-link {
    margin-left: 0;
  }

  .header__dropdown-btn:not(.header__dropdown-btn--last) {
    margin-right: 60px;
  }
}

@media (max-width:1229px) {
  .container {
    max-width: 957px;
  }

  /* Header */
  .header__inner--top{
    position: relative;
  }

  .header__bottom {
    display: none;
  }

  .header__link {
    margin-right: 370px;
  }

  .header__logo {
    width: 187px;
  }

  .header__search {
    margin-top: 0px;
  }

  .header__search-btn {
    margin-right: 0;
  }
  .header__search-btn,
  .header__search-icon {
    width: 29px;
    height: 29px;
  }

  .header__search-btn--active {
    margin-top: 3px;
  }

  .header__search-input {
    width: 0;
    transition: width .2s ease-out;
  }

  .header__search-input--active {
    width: 218px;
    margin-left: 10px;
  }

  .header__search {
    position: absolute;
    right: 0;
  }

  .header__search--active {
    background-color: #18171B;
    height: 36px;
    padding-bottom: 3px;
  }

   /* Navbar */
  .header__top--active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 786px;
    background-color: rgba(0, 0, 0, .9);
  }

  .header__login-link {
    display: none;
    margin-left: 0;
    margin-top: 114px;
    padding-left: 87px;
    padding-right: 87px;
  }

  .header__login-clone {
    display: flex;
  }

  .header__login-link:hover {
    color: var(--white);
    fill: var(--white);
  }

  .nav {
    display: none;
    position: absolute;
    top: 96px;
    left: 0;
    z-index: 1;
  }

  .nav--active {
    display: block;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__link {
    font-size: 24px;
    line-height: 64px;
  }

  /* Burger */
  .burger {
    display: block;
    position: relative;
    z-index: 2;
    width: 38px;
    height: 28px;
  }

  .burger__icon,
  .burger::before,
  .burger::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    height: 3px;
    background-color: var(--white);
    transition: transform .2s ease-out;
  }

  .burger__icon {
    top: 13px;
    width: 28px;
  }

  .burger::before {
    top: 0;
    width: 37px;
  }

  .burger::after {
    bottom: 0;
    width: 24px;
  }

  .burger--active > .burger__icon{
    transform: scale(0);
  }
  .burger--active::before{
    top: 49%;
    left: -3px;
    transform: rotate(45deg);
  }
  .burger--active::after{
    width: 37px;
    bottom: 41%;
    left: -3px;
    transform: rotate(-45deg);
  }
  /* ---- */

  /* Intro */
  .swiper-wrapper {
    height: 768px;
  }

  .intro__inner {
    padding-top: 214px;
    max-width: 660px;
  }

  .intro__title {
    margin-bottom: 12px;
    max-width: 597px;
  }

  .intro__subtitle {
    margin-bottom: 129px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 698px;
  }

  /* Header */
  .header__link {
    margin-right: 242px;
  }

  .header__top--active::after {
    height: 768px;
  }

  .header__search--active {
    background-color: var(--black);
    height: 100%;
    padding-bottom: 35px;
    padding-left: 3px;
    z-index: 2;
    width: 100%;
  }

  .header__search-btn--active {
    margin-top: 36px;
    
  }
  
  .header__search-input--active {
    margin-top: 28px;
    width: 576px;
    height: 37px;
  }

  .search__close {
    display: none;
    margin-top: 36px;
    margin-left: 20px;
    position: relative;
    height: 29px;
    width: 29px;
  }

  .search__close--active {
    display: block;
  }

  .search__close::before, 
  .search__close::after {
    position: absolute;
    content: "";
    background-color: var(--white);
    width: 37px;
    height: 3px;
    top: 11px;
    right: -7px;
  }

  .search__close::before {
    transform: rotate(45deg);
  }

  .search__close::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: 697px) {
  .container {
    max-width: 570px;
  }

  /* Header */
  .header__link {
    margin-right: 160px;
  }

  .header__top--active::after {
    height: 600px;
  }

  /* Nav */
  .nav__link {
    line-height: 50px;
  }

  .header__login-link {
    margin-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
  }

  /* Intro */
  .swiper-wrapper {
    height: 600px;
  }

  .intro__inner {
    padding-top: 160px;
  }

  .intro__title {
    font-size: 62px;
  }

  .intro__subtitle {
    margin-bottom: 66px;
  } 

  /* Btns */
  .btn {
    font-size: 16px;
  }

  .btn--full {
    padding: 21.5px 22.5px;
  }
}

@media (max-width: 569px) {
  .container {
    max-width: 455px;
  }

  /* Header */
  .header__inner--top {
    height: 45px;
  }

  .header__link {
    margin-right: 164px;
  }

  .header__logo {
    width: 97px;
  }

  .header__search-btn, 
  .header__search-icon {
    width: 16px;
    height: 16px;
  }

  .header__search-btn {
    margin-top: 2px;
    margin-right: -3px;
  }

  .header__search-btn--active {
    margin-top: 49px;
  }

  .header__search-input--active {
    margin-top: 28px;
    margin-left: 6px;
    width: 74%;
  }

  .header__search--active {
    height: 104px;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 45px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(40px);
  }

  .search__close {
    height: 15px;
    width: 15px;
    margin-top: 19px;
    margin-left: 29px;
  }

  .search__close::before, 
  .search__close::after {
    width: 19px;
    height: 2px;
  }

  .header__top--active::after {
    height: 355px;
  }

  /* Burger */
  .burger {
    width: 20px;
    height: 15px;
  }

  .burger::before {
    width: 20px;
  }

  .burger__icon {
    top: 6px;
    width: 15px;
  }

  .burger::after {
    width: 13px;
  }

  .burger::before,
  .burger__icon,
  .burger::after {
    height: 2px;
  }

  .burger--active::after {
    width: 20px;
  }

  /* Nav */
  .nav {
    top: 46px;
  }

  .nav__link {
    font-size: 16px;
    line-height: 32px;
  }

  .header__login-link {
    margin-top: 18px;
    padding: 11px 29px;
  }

  .header__login-icon {
    width: 9px;
    height: 9px;
    margin-right: 4px;
  }

  .header__login-clone {
    width: 115px;
  }

  /* Intro */
   .intro__inner {
     text-align: center;
   }
   
   .intro__title {
     font-size: 40px;
   }

   .intro__subtitle {
     font-size: 20px;
     font-weight: 400;
   }

   /* btn */
   .btn--full {
    padding: 14.5px 16.5px;
  }
}

@media (max-width: 454px) {
  .container {
    max-width: 100%;
  }

  /* Hedaer */
  .header__link {
    margin-right: 35%;
  }

  /* intro */

  .swiper-wrapper {
    height: 355px;
  }

  .intro__inner {
    padding-top: 79px;
  }

  .intro__title {
    font-size: 32px;
    max-width: 251px;
    margin-left: auto;
    margin-right: auto;
  }

  .intro__subtitle {
    margin: 0 auto 38px;
    max-width: 265px;
    font-size: 12px;
    line-height: 16px;
  }

  .btn {
    font-size: 12px;
  }

  .btn--full {
    margin-left: 4px;
    padding: 10.5px 15.5px;
  }
  
  .section {
    padding-top: 53px;
    padding-bottom: 40px;
  }

  .section__title {
    margin-left: 0px;
    margin-bottom: 15px;
    font-size: 28px;
  }

  .section__text {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .header__link {
    margin-right: 96px;
  }
}